.list {
    list-style: none;
    padding: 1rem;
    width: 50%;
}

.list-item {
    background: green;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.list-item__todo {
    background: yellow;
}
